# OPT Data Split: Train/Test/Dev

In [23]:
import numpy  as np
import pandas as pd
from sklearn.model_selection import train_test_split

np.random.seed(16)

opt_df = pd.read_csv("../../data/optimism-twitter-data/tweets_annotation.csv")
opt_df["Original ID"] = opt_df.index
opt_df = opt_df.sample(frac=1)
opt_df.head()

TRAIN_SIZE = .8
TEST_SIZE  = .1
VAL_SIZE   = .1

BATCH_SIZE = 32


SETTING_1M1 = True
# SETTING_1M1 = False

setting_name = "set1M1" if SETTING_1M1 else "set0"

if SETTING_1M1:
#     opt_df = opt_df[np.where(opt_df<=-1)]
    opt_df = opt_df[np.logical_or(opt_df["AverageAnnotation"]<=-1, opt_df["AverageAnnotation"]>=1)]
    

num_tweets = opt_df.shape[0]
num_test_samples = int(num_tweets * TEST_SIZE  / BATCH_SIZE + 1) * BATCH_SIZE
print(f"Selected {num_test_samples} test samples, needed {num_tweets*TEST_SIZE}.")

# opt
opt_train_df = opt_df[:num_tweets-2*num_test_samples]
opt_dev_df   = opt_df[num_tweets-2*num_test_samples:num_tweets-num_test_samples]
opt_test_df   = opt_df[num_tweets-num_test_samples:]

print(f"\nTrain samples: {opt_train_df.shape[0]};")
print(f"Validation samples: {opt_dev_df.shape[0]};")
print(f"Test samples: {opt_test_df.shape[0]}.")


print(f"\nTotal num tweets assertion: {opt_train_df.shape[0] + opt_dev_df.shape[0] + opt_test_df.shape[0]}  == {num_tweets}.")

opt_train_df.to_csv(f"../../data/optimism-twitter-data/processed/optimism_{setting_name}_train.csv")
opt_test_df.to_csv(f"../../data/optimism-twitter-data/processed/optimism_{setting_name}_test.csv")
opt_dev_df.to_csv(f"../../data/optimism-twitter-data/processed/optimism_{setting_name}_validation.csv")

Selected 416 test samples, needed 384.70000000000005.

Train samples: 3015;
Validation samples: 416;
Test samples: 416.

Total num tweets assertion: 3847  == 3847.

In [16]:
opt_df[np.logical_or(opt_df["AverageAnnotation"]<=-1, opt_df["AverageAnnotation"]>=1)]

,Tweet,Username,AverageAnnotation,Original ID
220,@runge_kelly rest is good!! if you like tea an...,TheAnglophiler,1.25,220
321,i want city to win. chelsea going up too far w...,Ajinkyaworld,1.50,321
2127,you're annoying the piss out of me,TehhKota,-1.80,2127
5894,xxx . love neil,adorb_zayn,1.20,5894
6844,and so begins the work to bring about #change ...,Brit_Mathews,1.50,6844
...,...,...,...,...
381,eclectic bedroom romantic french bedrooms na...,VelmaC1232,1.20,381
4548,@chrisdelatorre saw him tonight in #yyc... suc...,tukatweet,1.40,4548
635,when you think you're not happy with your life...,CoupleQuuotes,2.60,635
2169,life's just a big pile of horse crap,caitlinnk_,-2.00,2169
6825,those bright blue eyes send ecstasy through my...,PureSavageDante,1.75,6825

In [13]:
(np.where(np.oopt_df["AverageAnnotation"]<=-1 or opt_df["AverageAnnotation"]>=1).any())[0].shape

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [8]:
np.where(opt_df["AverageAnnotation"]<=-1)[0].shape

(1340,)

In [9]:
np.where(opt_df["AverageAnnotation"]>=1)[0].shape

(2507,)

In [17]:
opt_train_df.head()

,Tweet,Username,AverageAnnotation,Original ID
220,@runge_kelly rest is good!! if you like tea an...,TheAnglophiler,1.25,220
916,dr. budiani-saberi is a medical anthropologist...,JessiKersi,0.00,916
321,i want city to win. chelsea going up too far w...,Ajinkyaworld,1.50,321
2127,you're annoying the piss out of me,TehhKota,-1.80,2127
5643,@arapahoe_basin looking good for tomorrow's sk...,tomfricke,0.60,5643

In [18]:
opt_dev_df.head()

,Tweet,Username,AverageAnnotation,Original ID
370,could use any good vibes/energy for a family m...,bubafettt,1.4,370
2067,@hyper_chondriac @showblzsyndrome @manubiondi ...,FooledBySecrecy,1.0,2067
5106,@zaynmalik remember when we all loved you and ...,PrincessXMalik,-1.2,5106
1288,@theyoungerbolt im doing pretty good. how abou...,sith_hannah_ace,1.6,1288
1046,#days need to get rid of all these horrible ch...,SharonCaseFan,-1.0,1046

In [19]:
opt_test_df.head()

,Tweet,Username,AverageAnnotation,Original ID
6296,is anybody else about to cry bc of zayn again ...,alllovehes,-1.333333,6296
4478,please welcome [author]. mother of three and a...,ImAmandaNelson,0.750000,4478
6434,@taylorswift13 i love you thank you for showin...,HereForTaylor8,2.000000,6434
1765,okay so 4 girl friends are all i need.,YourPainAintLuv,1.000000,1765
1141,i feel like tomorrow is the first day of schoo...,taylor_annem,0.000000,1141

In [ ]:
train_test_split()